body{
  margin:0;
  padding:0;
  font-family:ui-sans-serif, system-ui, sans-serif;
  background:var(--bg-color);
  overflow-x:hidden;
}

::-webkit-scrollbar{
  display:none;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  outline:none;
  border:none;
}
li{
  list-style:none;
}
a{
  text-decoration:none;
}
:root{
  --main-color:#10b981;
  --bg-color:#f9fafb;
}
.grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-gap:40px;
}
.grid2{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-gap:30px;
}
.grid3{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-gap:20px;
}
@media(max-width:768px){
  .grid2{
     grid-template-columns:repeat(2,1fr);
  }
}

