.category-container,
.about-container{
    text-align:center;
}

.not-found{
    max-width:500px;
    margin:auto;
}
.category-container h1,
.about-container h1{
    font-size:130px;
    font-weight:700;
    color:#059669;
}
.category-container h2,
.about-container h2{
    font-size:30px;
    font-weight:700;
    margin-bottom:20px;
    color:#1F2937;
    text-transform:capitalize;
}
.category-container .categories-span,
.about-container .about-span{
    display:inline-block;
    font-size:20px;
    margin-bottom:20px;
    color:#4B5563;
}

.category-container .btn,
.about-container .btn{
    justify-content:center;
}
.category-container .primary-btn, 
.category-container .secondary-btn,
.about-container .primary-btn, 
.about-container .secondary-btn{
    padding:10px 16px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
}
.category-container .shop-btn,
.about-container .shop-btn{
    margin-right:8px !important;
}
.category-container button,
.about-container button{
    display:flex;
    align-items:center;
}
